@model IEnumerable<Cineverse.Models.Film>

@{
    ViewData["Title"] = "Lista Filmova";
}

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var film in Model)
        {
            <a class="col-md-3 mb-4" asp-controller="Film" asp-action ="Details" asp-route-id="@film.Id">
                <div class="card h-100">
                    <img src="@film.Poster" class="card-img-top" alt="@film.NazivFilma" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@film.NazivFilma</h5>
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    <p>Nema dostupnih filmova.</p>
}
