@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
@{
    ViewData["Title"] = "Home Page";
    var movies = ViewBag.MovieData as List<System.Text.Json.JsonElement>;
}

@if (movies != null)
{
    <div class="row">
        @foreach (var movie in movies)
        {
            var title = movie.GetProperty("title").GetString();
            var poster = movie.GetProperty("poster_path").GetString();
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="@("https://image.tmdb.org/t/p/w500" + poster)" class="card-img-top" alt="@title" style="height:350px;object-fit:cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@title</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Nema rezultata.</p>
}


