@model Cineverse.Models.Rezervacija

@{
    ViewData["Title"] = "Izmijeni";
}

<h1>Izmijeni</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjekcijaId" class="control-label"></label>
                <select asp-for="ProjekcijaId" class="form-control" asp-items="ViewBag.ProjekcijaId"></select>
                <span asp-validation-for="ProjekcijaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <input asp-for="KorisnikId" class="form-control" />
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>
