@{
    ViewData["Title"] = "Uspješno skenirano";
}

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
    }

    h2 {
        font-size: 2rem;
        color: white; /* ili neka druga boja koja odgovara tvojoj temi */
    }
</style>

<div class="center-screen">
    <h2>Karta je uspješno skenirana!</h2>
</div>
