@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrda zahtjeva za promjenu šifre.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Provjerite email adresu da biste resetovali svoju šifru.
</p>
