html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-image: url('https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container input,
.container textarea,
.container select,
form input,
form textarea,
form select {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 4px;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    outline: none !important;
}

    input:focus,
    textarea:focus,
    select:focus {
        border-color: white !important;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.8) !important;
        outline: none !important;
    }

/*input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}*/

label {
    color: white !important;
}

/* Bijela ikonica za date picker */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.custom-orange-btn {
    background-color: orange;
    color: white;
    font-size: 16px;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}


.card-img-top {
    width: auto;
    height: 500px;
}

.card {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.card-title {
    color: #000;
    font-weight: bold;
    text-decoration: none !important;
}

a.col-md-3, a.col-md-3:hover, a.col-md-3:focus, a.col-md-3:active {
    background: transparent !important;
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: inherit;
}

