@model Cineverse.Models.Film

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zanr" class="control-label"></label>
                <input asp-for="Zanr" class="form-control" />
                <span asp-validation-for="Zanr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeTrajanja" class="control-label"></label>
                <input asp-for="VrijemeTrajanja" class="form-control" />
                <span asp-validation-for="VrijemeTrajanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uloge" class="control-label"></label>
                <input asp-for="Uloge" class="form-control" />
                <span asp-validation-for="Uloge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reziser" class="control-label"></label>
                <input asp-for="Reziser" class="form-control" />
                <span asp-validation-for="Reziser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazivFilma" class="control-label"></label>
                <input asp-for="NazivFilma" class="form-control" />
                <span asp-validation-for="NazivFilma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
