@model Cineverse.Models.Cijena

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Cijena</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OsnovnaCijena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OsnovnaCijena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
